<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
  </head>
  <body>
  <h1>Here are your users:</h1>
    <div class="djangtwo">
      {% if users %}
        <ol>
            {% for user in users %}
            <li>User info
                <ul>
                    <li>First Name: {{ user.first_name }}</li>
                    <li>Last Name: {{ user.last_name }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul>
            </li>
            {% endfor %}
        </ol>
      {% else %}
        <p>NO USERS FOUND!</p>
      {% endif %}
  </div>
  </body>
</html>